Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, black, qmlformat, isort, pylint, mypy

licence-present:
  name: licence-present
  entry: SPDX-License-Identifier
  language: pygrep
  args:
  - --negate

black:
  name: black
  entry: venv/Scripts/black.exe
  language: system

qmlformat:
  name: qmlformat
  entry: venv/Scripts/pyside6-qmlformat.exe -i -n
  language: system

isort:
  name: isort
  entry: venv/Scripts/isort.exe --settings-file pyproject.toml
  language: system

pylint:
  name: pylint
  entry: venv/Scripts/pylint.exe
  language: system

mypy:
  name: mypy
  entry: venv/Scripts/mypy.exe
  language: system
  require_serial: true

Add fillMode/alignment example
  QuickGraphLib/ColorMaps.cpp
  QuickGraphLib/ColorMaps.hpp
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/helpers/Helpers.cpp
  examples/ImageAlignment.png
  examples/ImageAlignment.qdoc
  examples/ImageAlignment.qml
Due: licence-present, qmlformat

Fix AntialiasingContainer
  QuickGraphLib/AntialiasingContainer.qml
Due: licence-present, qmlformat

Add autoMin/Max
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  examples/ColorMappedImages.qml
Due: licence-present, qmlformat

Add QGLDoubleList and QGLPolygonF for fast ndarray -> QGL passing
  CMakeLists.txt
  MANIFEST.in
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/DataTypes.cpp
  QuickGraphLib/DataTypes.hpp
  QuickGraphLib/bindings/Bindings.hpp
  QuickGraphLib/bindings/Bindings.xml
  QuickGraphLib/bindings/CMakeLists.txt
  QuickGraphLib/bindings/ShibokenHelpers.cpp
  QuickGraphLib/bindings/ShibokenHelpers.hpp
  QuickGraphLib/bindings/glue/DataTypes.cpp
  QuickGraphLib/bindings/pyigen.py
  QuickGraphLib/bindings/pyside_config.py
  QuickGraphLib/helpers/Foreign.hpp
  QuickGraphLib/python/__init__.py
  QuickGraphLib/python/consts.py
  QuickGraphLib/python/contours.py
  QuickGraphLib/python/py.typed
  examples/gallery.py
  pyproject.toml
  quickgraphlib_helpers/__init__.py
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Use new fromNDArray methods
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/DataTypes.cpp
  QuickGraphLib/DataTypes.hpp
  QuickGraphLib/Plugin.cpp
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/python/__init__.py
  QuickGraphLib/python/contours.py
  examples/gallery.py
Due: licence-present, black, isort, pylint, mypy

More stub fixes
  QuickGraphLib/bindings/pyigen.py
Due: licence-present, black, isort, pylint, mypy

Switch to scikit-build-core as build backend
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/__init__.py
  QuickGraphLib/bindings/CMakeLists.txt
  QuickGraphLib/bindings/pyigen.py
  QuickGraphLib/consts.py
  QuickGraphLib/contours.py
  QuickGraphLib/py.typed
  QuickGraphLib/python/py.typed
  examples/gallery.py
  pyproject.toml
  requirements.txt
  setup.py
  setup_venv.ps1
Due: licence-present, black, isort, pylint, mypy

Shorten CMake files
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Format CMake files
  .pre-commit-config.yaml
  CMakeLists.txt
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/PreFabs/CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  requirements.txt
Due: licence-present

Install Qt before venv setup
  .github/workflows/build.yml
Due: none

Document new classes
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/DataTypes.cpp
  QuickGraphLib/QuickGraphLib.hpp
  QuickGraphLib/doc/index.qdoc
  QuickGraphLib/doc/module-cpp.qdoc
  docs/build_docs.py
  docs/config.qdocconf
  run_qmllint.py
Due: licence-present, black, isort, pylint, mypy

Document Python API
  .github/workflows/build.yml
  QuickGraphLib/doc/index.qdoc
  QuickGraphLib/doc/module-cpp.qdoc
  pyproject.toml
Due: licence-present

Update gallery image, fix cmake path in pyproject
  examples/ExampleGallery.png
  pyproject.toml
Due: none

CI fixes and build from sdist
  .github/workflows/build.yml
  CMakeLists.txt
  QuickGraphLib/__init__.py
  QuickGraphLib/bindings/CMakeLists.txt
  QuickGraphLib/bindings/pyigen.py
  ci/setup_qt.py
  pyproject.toml
Due: licence-present, black, isort, pylint, mypy

Cleanup
  CMakeLists.txt
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/DataTypes.cpp
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present

Fix undocumented property
  QuickGraphLib/ImageView.cpp
Due: licence-present

Add Conway's Game of Life as an ImageView demo
  examples/Conway.png
  examples/Conway.qdoc
  examples/Conway.qml
  examples/conway.py
  examples/gallery.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Fix property name and run GC to prevent glitches
  examples/Conway.qml
  examples/conway.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Tick label delegate uses tickLabelFont instead of labelFont
  QuickGraphLib/Axis.qml
Due: licence-present, qmlformat

Also fix tick label color and add to example
  QuickGraphLib/Axis.qml
  examples/DarkSinGraph.qml
Due: licence-present, qmlformat

Update python module name in QML docs
  QuickGraphLib/doc/python_helpers.qdoc
Due: licence-present

Correct documentation of `spacing` property
  QuickGraphLib/Axis.qml
Due: licence-present, qmlformat

Ensure Line can take QList-like sequences (e.g. QPolygon)
  QuickGraphLib/GraphItems/Line.qml
Due: licence-present, qmlformat

Hackily update shiboken's clang to fix build failure with latest MSVC C++ headers
  .github/workflows/build.yml
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Enable reading back the min and max when auto limits is enabled
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  examples/Conway.qml
Due: licence-present, qmlformat

Add ImageAxes
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  QuickGraphLib/PreFabs/CMakeLists.txt
  QuickGraphLib/PreFabs/ImageAxes.qml
  examples/ColorMesh.qml
Due: licence-present, qmlformat

Do not set min/max if image parsing fails
  QuickGraphLib/ImageView.cpp
Due: licence-present

Disabling MSAA by default, because it's not great
  QuickGraphLib/AntialiasingContainer.qml
Due: licence-present, qmlformat

Add view transform creator methods to GraphArea
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/ZoomPanHandler.qml
Due: licence-present, qmlformat

Fix viewTransformFromRect returning undefined
  QuickGraphLib/GraphArea.qml
Due: licence-present, qmlformat

Less qmllint warnings
  QuickGraphLib/PreFabs/ImageAxes.qml
  examples/BuiltinColormaps.qml
  examples/ColorMesh.qml
  examples/Complex.qml
  examples/ImageAlignment.qml
Due: licence-present, qmlformat

Use CMake to find things instead of pyside_config.py
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  QuickGraphLib/bindings/pyside_config.py
Due: licence-present, black, isort, pylint, mypy

Fix finding in a tmp venv
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Fix finding on Linux wheels
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Correct LLVM download condition
  .github/workflows/build.yml
Due: none

Add CSS for syntax highlighting and add description to some of the examples
  QuickGraphLib/contours.py
  QuickGraphLib/doc/graphstructure.qdoc
  QuickGraphLib/doc/interaction.qdoc
  QuickGraphLib/doc/python_helpers.qdoc
  docs/style.css
  examples/AllTheAxes.qdoc
  examples/BasicHistogram.qdoc
  examples/BasicSinGraph.qdoc
  examples/BasicSinGraphNoPrefabs.qdoc
  examples/BuiltinColormaps.qdoc
  examples/ColorMappedImages.qdoc
  examples/ColorMappedImages.qml
  examples/ColorMesh.png
  examples/ColorMesh.qdoc
  examples/Complex.qdoc
  examples/Contours.qdoc
  examples/Conway.qdoc
  examples/DarkSinGraph.png
  examples/DarkSinGraph.qdoc
  examples/DraggableRegion.qdoc
  examples/ImageAlignment.qdoc
  examples/InvertedAxes.qdoc
  examples/ReadoutLine.qdoc
  examples/ScalingGraph.qdoc
  examples/Scatter.qdoc
  examples/SpansAndLines.qdoc
  examples/Subgraphs.qdoc
  examples/TwinX.qdoc
  examples/ZoomableAsImage.qdoc
  examples/ZoomableAxes.qdoc
Due: licence-present, black, qmlformat, isort, pylint, mypy

Document the rest of the examples
  docs/config.qdocconf
  examples/DraggableRegion.qdoc
  examples/TwinX.qdoc
  examples/ZoomableAsImage.qdoc
  examples/ZoomableAxes.qdoc
Due: licence-present

Finish graph structure page
  QuickGraphLib/doc/graphstructure.qdoc
  docs/style.css
Due: licence-present

Interaction page
  QuickGraphLib/ZoomPanHandler.qml
  QuickGraphLib/doc/interaction.qdoc
Due: licence-present, qmlformat

Cross-link types to examples
  QuickGraphLib/Axis.qml
  QuickGraphLib/ColorMaps.cpp
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/GraphItems/AxHLine.qml
  QuickGraphLib/GraphItems/AxHSpan.qml
  QuickGraphLib/GraphItems/AxVLine.qml
  QuickGraphLib/GraphItems/AxVSpan.qml
  QuickGraphLib/GraphItems/BasicLegend.qml
  QuickGraphLib/GraphItems/BasicLegendItem.qml
  QuickGraphLib/GraphItems/ColorMesh.qml
  QuickGraphLib/GraphItems/Contour.qml
  QuickGraphLib/GraphItems/GraphItemDragHandler.qml
  QuickGraphLib/GraphItems/Grid.qml
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/GraphItems/Marker.qml
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/PreFabs/ImageAxes.qml
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/ScalingContainer.qml
  QuickGraphLib/ShapeRepeater.qml
  QuickGraphLib/TickLabel.qml
  QuickGraphLib/ZoomPanHandler.qml
  docs/style.css
Due: licence-present, qmlformat

Path conditions:
  licence-present: any of: ((\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$
  black: any of: \.py$
  qmlformat: any of: \.qml$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
