Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, black, qmlformat, isort, pylint, mypy

licence-present:
  name: licence-present
  entry: SPDX-License-Identifier
  language: pygrep
  args:
  - --negate

black:
  name: black
  entry: venv/Scripts/black.exe
  language: system

qmlformat:
  name: qmlformat
  entry: venv/Scripts/pyside6-qmlformat.exe -i -n
  language: system

isort:
  name: isort
  entry: venv/Scripts/isort.exe --settings-file pyproject.toml
  language: system

pylint:
  name: pylint
  entry: venv/Scripts/pylint.exe
  language: system

mypy:
  name: mypy
  entry: venv/Scripts/mypy.exe
  language: system
  require_serial: true

Fix build on CI
  .github/workflows/build.yml
  docs/build_docs.py
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Meh
  .github/workflows/build.yml
Due: none

Meh
  .gitignore
Due: none

Fix build on CI
  .github/workflows/build.yml
  .gitignore
  docs/build_docs.py
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

API updates and docs improvements
  QuickGraphLib/Axis.qml
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/GraphItems/BasicLegendItem.qml
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/GraphItems/helpers/HistogramHelper.hpp
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/doc/index.qdoc
  QuickGraphLib/doc/module.qdoc
  QuickGraphLib/doc/python_helpers.qdoc
  QuickGraphLib/helpers/AxisHelper.cpp
  QuickGraphLib/helpers/AxisHelper.hpp
  QuickGraphLib/helpers/Foreign.hpp
  examples/Subgraphs.qml
  requirements.txt
  run_qmllint.ps1
  run_qmllint.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Add pydantic to reqs
  README.md
  requirements.txt
  run_qmllint.py
Due: licence-present, black, isort, pylint, mypy

Fix export of gradients
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/helpers/Helpers.cpp
  examples/BasicHistogram.qml
Due: licence-present, qmlformat

Helper for mapping the transform over points
  .pre-commit-config.yaml
  QuickGraphLib/GraphItems/Contour.qml
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/doc/python_helpers.qdoc
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  docs/style.css
  quickgraphlib_helpers/contours.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Use model instead of lists for tick positions - makes tick display configurable
  QuickGraphLib/Axis.qml
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/TickLabel.qml
  QuickGraphLib/helpers/AxisHelper.cpp
  QuickGraphLib/helpers/AxisHelper.hpp
Due: licence-present, qmlformat

Include QML files in built wheel for qmllint
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/PreFabs/CMakeLists.txt
  QuickGraphLib/TickLabel.qml
Due: licence-present, qmlformat

Refactor Ax{X,Y}{Span,Line} to be ShapePaths
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/GraphItems/AxHLine.qml
  QuickGraphLib/GraphItems/AxHSpan.qml
  QuickGraphLib/GraphItems/AxVLine.qml
  QuickGraphLib/GraphItems/AxVSpan.qml
  QuickGraphLib/GraphItems/BasicLegend.qml
  QuickGraphLib/GraphItems/GraphItemDragHandler.qml
  QuickGraphLib/GraphItems/Marker.qml
  QuickGraphLib/GraphItems/helpers/GridHelper.cpp
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/helpers/Helpers.cpp
  examples/BasicHistogram.qml
  examples/Complex.qml
  examples/DraggableRegion.qml
  examples/ReadoutLine.qml
  examples/SpansAndLines.qml
  run_qmllint.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

More links for READMEs
  README.md
  pyproject.toml
Due: none

Add ShapeRepeater
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/ShapeRepeater.qml
  QuickGraphLib/TickLabel.qml
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  docs/config.qdocconf
  examples/Complex.qml
Due: licence-present, qmlformat

Add github release to build pipeline
  .github/workflows/build.yml
Due: none

Generate release notes
  .github/workflows/build.yml
Due: none

Fix bug in ShapeRepeater and some other tidy up
  QuickGraphLib/ShapeRepeater.qml
  QuickGraphLib/helpers/AxisHelper.cpp
  QuickGraphLib/helpers/AxisHelper.hpp
Due: licence-present, qmlformat

Split jobs so that linux can build too
  .github/workflows/build.yml
Due: none

Optimise axis label model a bit
  CMakeLists.txt
  QuickGraphLib/helpers/AxisHelper.cpp
Due: licence-present

Fix memory corruption resulting from binding recursion due to signals emitted during the binding
  QuickGraphLib/helpers/AxisHelper.cpp
  QuickGraphLib/helpers/AxisHelper.hpp
Due: licence-present

Fix rcc segfault on some linuxes
  QuickGraphLib/ShapeRepeater.qml
Due: licence-present, qmlformat

Download all wheels in deploy jobs
  .github/workflows/build.yml
Due: none

Fix sdist downloading multiple times breaking PyPI deploy
  .github/workflows/build.yml
Due: none

Add -fno-visibility-inlines-hidden to avoid visibility mismatch warnings
  CMakeLists.txt
Due: licence-present

Use cibuildwheel to get a manylinux tag
  .github/workflows/build.yml
  .gitignore
  ci/find_qt.py
  ci/setup_qt.py
  pyproject.toml
  setup.cfg
Due: licence-present, black, isort, pylint, mypy

Defend against bad range generations
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present

Add support to exporting into a QPicture
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  setup.cfg
Due: licence-present, qmlformat

Add export support for dashed lines
  QuickGraphLib/helpers/Helpers.cpp
  examples/SpansAndLines.png
  examples/SpansAndLines.qml
Due: licence-present, qmlformat

Fix Axis implicit size when used in async loading
  QuickGraphLib/Axis.qml
Due: licence-present, qmlformat

Fix platform tag for linux
  pyproject.toml
Due: none

Fix py.typed not included in wheels again
  MANIFEST.in
Due: none

Add export docs (and show version number)
  QuickGraphLib/doc/export.qdoc
  QuickGraphLib/doc/index.qdoc
  QuickGraphLib/helpers/Helpers.cpp
  docs/build_docs.py
  docs/config.qdocconf
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Update docs building workflow
  .github/workflows/build.yml
Due: none

Add ColorMesh
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/ColorMaps.cpp
  QuickGraphLib/ColorMesh.cpp
  QuickGraphLib/ColorMesh.hpp
  QuickGraphLib/helpers/Helpers.cpp
  docs/style.css
  examples/BuiltinColormaps.qdoc
  examples/BuiltinColormaps.qml
Due: licence-present, qmlformat

Document QuickGraphLib properties
  QuickGraphLib/AntialiasingContainer.qml
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/ScalingContainer.qml
  QuickGraphLib/ShapeRepeater.qml
  QuickGraphLib/TickLabel.qml
  QuickGraphLib/ZoomPanHandler.qml
Due: licence-present, qmlformat

Document QuickGraphLib.PreFabs properties
  QuickGraphLib/Axis.qml
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Document QuickGraphLib.GraphItems properties
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphItems/AxHLine.qml
  QuickGraphLib/GraphItems/AxHSpan.qml
  QuickGraphLib/GraphItems/AxVLine.qml
  QuickGraphLib/GraphItems/AxVSpan.qml
  QuickGraphLib/GraphItems/BasicLegend.qml
  QuickGraphLib/GraphItems/BasicLegendItem.qml
  QuickGraphLib/GraphItems/Contour.qml
  QuickGraphLib/GraphItems/GraphItemDragHandler.qml
  QuickGraphLib/GraphItems/Grid.qml
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/GraphItems/Marker.qml
Due: licence-present, qmlformat

Rename ColorMesh to ImageView and add ColorMesh GraphItem
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/ColorMesh.qml
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  examples/BuiltinColormaps.qml
  examples/ColorMesh.qdoc
  examples/ColorMesh.qml
Due: licence-present, qmlformat

Add exporting of ImageView
  QuickGraphLib/AntialiasingContainer.qml
  QuickGraphLib/GraphItems/ColorMesh.qml
  QuickGraphLib/GraphItems/GraphItemDragHandler.qml
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  QuickGraphLib/helpers/Helpers.cpp
  examples/BuiltinColormaps.png
  examples/ColorMesh.png
Due: licence-present, qmlformat

Use enums instead of strings for color map names
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/ColorMaps.cpp
  QuickGraphLib/ColorMaps.hpp
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/helpers/Helpers.cpp
  examples/BuiltinColormaps.png
  examples/BuiltinColormaps.qdoc
  examples/BuiltinColormaps.qml
  examples/ColorMappedImages.png
  examples/ColorMappedImages.qdoc
  examples/ColorMappedImages.qml
Due: licence-present, qmlformat

Path conditions:
  licence-present: any of: ((\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$
  black: any of: \.py$
  qmlformat: any of: \.qml$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
