Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, black, qmlformat, isort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: licence-present
        name: licence-present
        entry: SPDX-License-Identifier
        language: pygrep
        args: [--negate]
        files: "((\\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$"
      - id: black
        name: black
        entry: venv/Scripts/black.exe
        language: system
        types: [python]
      - id: qmlformat
        name: qmlformat
        entry: venv/Scripts/pyside6-qmlformat.exe -i -n
        files: "\\.qml$"
        language: system
      # - id: qmllint
      #   name: qmllint
      #   entry: venv/Scripts/pyside6-qmllint.exe
      #   files: "\\.qml$"
      #   language: system
      - id: isort
        name: isort
        entry: venv/Scripts/isort.exe --settings-file pyproject.toml
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: venv/Scripts/pylint.exe
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: venv/Scripts/mypy.exe
        language: system
        types: [python]
        require_serial: true

Disable cachegen to fix lines not showing up
  QuickGraphLib/GraphItems/CMakeLists.txt
Due: licence-present

Add test that screengrabs examples
  .github/workflows/build.yml
  .vscode/c_cpp_properties.json
  examples/Scatter.qml
  examples/__init__.py
  examples/gallery.py
  tests/__init__.py
  tests/reference_images/AllTheAxes.png
  tests/reference_images/BasicHistogram.png
  tests/reference_images/BasicSinGraph.png
  tests/reference_images/BasicSinGraphNoPrefabs.png
  tests/reference_images/BuiltinColormaps.png
  tests/reference_images/ColorMappedImages.png
  tests/reference_images/ColorMesh.png
  tests/reference_images/Complex.png
  tests/reference_images/Contours.png
  tests/reference_images/Conway.png
  tests/reference_images/DarkSinGraph.png
  tests/reference_images/DraggableRegion.png
  tests/reference_images/ImageAlignment.png
  tests/reference_images/InvertedAxes.png
  tests/reference_images/ReadoutLine.png
  tests/reference_images/ScalingGraph.png
  tests/reference_images/Scatter.png
  tests/reference_images/SpansAndLines.png
  tests/reference_images/Subgraphs.png
  tests/reference_images/TwinX.png
  tests/reference_images/ZoomableAsImage.png
  tests/reference_images/ZoomableAxes.png
  tests/test_exports.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Fixes for CI
  QuickGraphLib/__init__.py
  QuickGraphLib/contours.py
  examples/conway.py
  pyproject.toml
  tests/test_exports.py
Due: licence-present, black, isort, pylint, mypy

Adjust cachegen disable
  QuickGraphLib/GraphItems/CMakeLists.txt
Due: licence-present

Update to Qt 6.8
  .github/workflows/build.yml
  QuickGraphLib/bindings/pyigen.py
  README.md
  ci/setup_qt.py
  docs/build_docs.py
  pyproject.toml
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Fixes
  .github/workflows/build.yml
  ci/setup_qt.py
Due: licence-present, black, isort, pylint, mypy

QML reformat
  QuickGraphLib/PreFabs/ImageAxes.qml
  examples/BuiltinColormaps.qml
  examples/Conway.qml
Due: licence-present, qmlformat

Typing fix
  QuickGraphLib/contours.py
Due: licence-present, black, isort, pylint, mypy

Path fix
  docs/build_docs.py
Due: licence-present, black, isort, pylint, mypy

Fix linux arch
  ci/setup_qt.py
Due: licence-present, black, isort, pylint, mypy

Update Python to 3.9
  QuickGraphLib/bindings/CMakeLists.txt
  pyproject.toml
  setup.cfg
Due: licence-present

More missed version bumps
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Prevent numpy 2 being used
  README.md
  pyproject.toml
  requirements.txt
Due: none

More READMEing
  README.md
Due: none

Add CMake option to disable stub file generation (for embedded systems)
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Add option to change spacing between title and axes
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Add options for padding
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Use bottomMargin
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Set width/height to prevent implicitWidth/Height changes causing binding loops
  QuickGraphLib/GraphArea.qml
Due: licence-present, qmlformat

Fix property details not floating right
  docs/style.css
Due: licence-present

Run test loader async to ensure it works
  tests/test_exports.py
Due: licence-present, black, isort, pylint, mypy

Add Python bindings for Helpers
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/DataTypes.hpp
  QuickGraphLib/Global.hpp
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/__init__.py
  QuickGraphLib/bindings/Bindings.hpp
  QuickGraphLib/bindings/Bindings.xml
  QuickGraphLib/bindings/CMakeLists.txt
  QuickGraphLib/bindings/pyigen.py
  QuickGraphLib/bindings/qtqml.rst
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  tests/python_exporter.py
  tests/test_exports.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Duplicate docs for C++/Python version
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present

Bump vulnerable CI dependency
  requirements.txt
Due: none

Update images
  README.md
  examples/ExampleGallery.png
  examples/Scatter.png
Due: none

Correct syntax property declarations *facepalm*
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Remove cachegen disable, AOT seems to behave now
  QuickGraphLib/GraphItems/CMakeLists.txt
Due: licence-present

Run qmlformat
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Use new CurveRenderer for better quality and deprecate AntialiasingContainer
  QuickGraphLib/AntialiasingContainer.qml
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/GraphItems/AxHLine.qml
  QuickGraphLib/GraphItems/AxHSpan.qml
  QuickGraphLib/GraphItems/AxVLine.qml
  QuickGraphLib/GraphItems/AxVSpan.qml
  QuickGraphLib/GraphItems/Contour.qml
  QuickGraphLib/GraphItems/Grid.qml
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/PreFabs/ImageAxes.qml
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/ScalingContainer.qml
  QuickGraphLib/helpers/AxisHelper.cpp
  examples/AllTheAxes.qml
  examples/BasicSinGraphNoPrefabs.qml
  examples/Complex.qml
  examples/TwinX.qml
Due: licence-present, qmlformat

Improve ShapeRepeater (less crashes, more useful)
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/ShapeRepeater.qml
  QuickGraphLib/helpers/ShapeRepeaterHelper.cpp
  QuickGraphLib/helpers/ShapeRepeaterHelper.hpp
  examples/Complex.qml
  examples/ExampleGallery.png
  examples/PeakButtons.png
  examples/PeakButtons.qdoc
  examples/PeakButtons.qml
  tests/reference_images/PeakButtons.dat
  tests/reference_images/PeakButtons.png
  tests/reference_images/PeakButtons.svg
  tests/reference_images/PeakButtons_grab.png
Due: licence-present, qmlformat

Improve ShapeRepeater docs
  QuickGraphLib/ShapeRepeater.qml
  examples/PeakButtons.qdoc
Due: licence-present, qmlformat

Additional notes/warnings in the docs
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/ShapeRepeater.qml
Due: licence-present, qmlformat

Disable curve renderer until I can fix some additional bugs
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/helpers/AxisHelper.cpp
Due: licence-present, qmlformat

Right elide the graph title when it's too long
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

Update GHA with full commit hash
  .github/workflows/build.yml
Due: none

Disable cache
  .github/workflows/build.yml
Due: none
