Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, black, qmlformat, isort, pylint, mypy

licence-present:
  name: licence-present
  entry: SPDX-License-Identifier
  language: pygrep
  args:
  - --negate

black:
  name: black
  entry: venv/Scripts/black.exe
  language: system

qmlformat:
  name: qmlformat
  entry: venv/Scripts/pyside6-qmlformat.exe -i -n
  language: system

isort:
  name: isort
  entry: venv/Scripts/isort.exe --settings-file pyproject.toml
  language: system

pylint:
  name: pylint
  entry: venv/Scripts/pylint.exe
  language: system

mypy:
  name: mypy
  entry: venv/Scripts/mypy.exe
  language: system
  require_serial: true

Disable cache
  .github/workflows/build.yml
Due: none

Reenable cache
  .github/workflows/build.yml
Due: none

Remove unnecessary align center
  QuickGraphLib/PreFabs/XYAxes.qml
Due: licence-present, qmlformat

debug
  .github/workflows/build.yml
Due: none

SE-189: Update GHA with full commit hash (#22)
  .github/workflows/build.yml
Due: none

Update requirements to Qt 6.9.1
  .github/workflows/build.yml
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  README.md
  ci/setup_qt.py
  docs/build_docs.py
  pyproject.toml
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Update reference images
  tests/reference_images/Complex.dat
  tests/reference_images/Complex.png
  tests/reference_images/Complex.svg
  tests/reference_images/ReadoutLine.dat
  tests/reference_images/ReadoutLine.png
  tests/reference_images/ReadoutLine.svg
Due: none

Update deprecated mirrored call
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present

Update aqt
  ci/setup_qt.py
Due: licence-present, black, isort, pylint, mypy

Try switching python version
  ci/setup_qt.py
Due: licence-present, black, isort, pylint, mypy

Update to Qt 6.9.2
  .github/workflows/build.yml
  README.md
  ci/setup_qt.py
  docs/build_docs.py
  pyproject.toml
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Bump install-qt-action
  .github/workflows/build.yml
Due: none

Use renderer without real window; Add doc on single axis ZoomPanHandler
  QuickGraphLib/ZoomPanHandler.qml
  tests/python_exporter.py
Due: licence-present, black, qmlformat, isort, pylint, mypy

Fix typo
  QuickGraphLib/ZoomPanHandler.qml
Due: licence-present, qmlformat

Update workflow to windows-2025
  .github/workflows/build.yml
Due: none

Update to Qt 6.10
  .github/workflows/build.yml
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  README.md
  ci/setup_qt.py
  docs/build_docs.py
  pyproject.toml
  requirements.txt
Due: licence-present, black, isort, pylint, mypy

Re-enable curve renderer for high-quality antialiasing
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/ShapeRepeater.qml
Due: licence-present, qmlformat

Fix some stub file issues
  QuickGraphLib/bindings/pyigen.py
Due: licence-present, black, isort, pylint, mypy

Update minimum glibc requirement to match PySide6
  pyproject.toml
Due: none

Install wheel as it is not available by default anymore
  pyproject.toml
Due: none

Simplify bindings CMakeLists using Shiboken6Tools
  QuickGraphLib/bindings/Bindings.xml
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Workaround Shiboken6Tools issue in manylinux container
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Make manylinux workaround optional
  CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  pyproject.toml
Due: licence-present

Require Shiboken6 and PySide6
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Try adding CC flags
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Hopefully a working combo for Yocto
  QuickGraphLib/bindings/CMakeLists.txt
Due: licence-present

Remove unneeded doc file
  QuickGraphLib/bindings/qtqml.rst
Due: none

Replace black with ruff to reduce CI crashes
  .pre-commit-config.yaml
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/PreFabs/CMakeLists.txt
  QuickGraphLib/bindings/CMakeLists.txt
  pyproject.toml
  requirements.txt
Due: licence-present

Workaround for QTBUG-143112
  QuickGraphLib/GraphArea.qml
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/GraphItems/helpers/HistogramHelper.cpp
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present, qmlformat

Bump filelock due to vuln
  requirements.txt
Due: none

Show defaults in docs and document ZoomPanHandler.reset()
  QuickGraphLib/AntialiasingContainer.qml
  QuickGraphLib/Axis.qml
  QuickGraphLib/GraphItems/BasicLegend.qml
  QuickGraphLib/GraphItems/BasicLegendItem.qml
  QuickGraphLib/GraphItems/ColorMesh.qml
  QuickGraphLib/GraphItems/Histogram.qml
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/PreFabs/ImageAxes.qml
  QuickGraphLib/PreFabs/XYAxes.qml
  QuickGraphLib/ZoomPanHandler.qml
Due: licence-present, qmlformat

Add a log axis example
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  examples/LogGraph.png
  examples/LogGraph.qdoc
  examples/LogGraph.qml
  tests/reference_images/LogGraph.dat
  tests/reference_images/LogGraph.png
  tests/reference_images/LogGraph.svg
  tests/reference_images/LogGraph_grab.png
Due: licence-present, qmlformat

Add warnings about HTML export
  QuickGraphLib/helpers/Helpers.cpp
  examples/LogGraph.qdoc
Due: licence-present

V2 workaround for QTBUG-143112
  QuickGraphLib/GraphItems/Line.qml
  QuickGraphLib/GraphItems/helpers/HistogramHelper.cpp
  QuickGraphLib/__init__.py
  QuickGraphLib/doc/index.qdoc
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present, black, qmlformat, isort, pylint, mypy

Remove unneeded word
  QuickGraphLib/doc/index.qdoc
Due: licence-present

Path conditions:
  licence-present: any of: ((\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$
  black: any of: \.py$
  qmlformat: any of: \.qml$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
