Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, qdebug-present, ruff, gersemi, qmlformat, mypy

licence-present:
  name: licence-present
  entry: SPDX-License-Identifier
  language: pygrep
  args:
  - --negate

qdebug-present:
  name: qdebug-present
  entry: qDebug
  language: pygrep

ruff:
  name: ruff
  entry: venv/Scripts/ruff.exe format
  language: system

gersemi:
  name: gersemi
  entry: venv/Scripts/gersemi.exe -i
  language: system

qmlformat:
  name: qmlformat
  entry: venv/Scripts/pyside6-qmlformat.exe -i -n
  language: system

mypy:
  name: mypy
  entry: venv/Scripts/mypy.exe
  language: system
  require_serial: true

Add minor grid lines
  examples/LogGraph.qml
  tests/reference_images/LogGraph.dat
  tests/reference_images/LogGraph.png
  tests/reference_images/LogGraph.svg
  tests/reference_images/LogGraph_grab.png
Due: licence-present, qmlformat

Update image
  examples/LogGraph.png
Due: none

HTML formatting export support
  QuickGraphLib/helpers/Helpers.cpp
  examples/LogGraph.qdoc
  tests/reference_images/LogGraph.dat
  tests/reference_images/LogGraph.png
  tests/reference_images/LogGraph.svg
Due: licence-present, qdebug-present

Add workaround for QTBUG-143246
  QuickGraphLib/helpers/Helpers.cpp
  tests/reference_images/AllTheAxes.dat
  tests/reference_images/AllTheAxes.svg
  tests/reference_images/BasicSinGraph.dat
  tests/reference_images/BasicSinGraph.svg
  tests/reference_images/BasicSinGraphNoPrefabs.dat
  tests/reference_images/BasicSinGraphNoPrefabs.svg
  tests/reference_images/Complex.dat
  tests/reference_images/Complex.svg
  tests/reference_images/Contours.dat
  tests/reference_images/Contours.svg
  tests/reference_images/DarkSinGraph.dat
  tests/reference_images/DarkSinGraph.svg
  tests/reference_images/ZoomableAsImage.dat
  tests/reference_images/ZoomableAsImage.svg
  tests/reference_images/ZoomableAxes.dat
  tests/reference_images/ZoomableAxes.svg
Due: licence-present, qdebug-present

optional python binding
  CMakeLists.txt
  QuickGraphLib/CMakeLists.txt
Due: licence-present, gersemi

Update QuickGraphLib/CMakeLists.txt
  QuickGraphLib/CMakeLists.txt
Due: licence-present, gersemi

Reformat CMakeFiles
  CMakeLists.txt
  QuickGraphLib/CMakeLists.txt
Due: licence-present, gersemi

Bump vulnerable dependencies
  requirements.txt
Due: none

Fix sourceSize being overwritten when the source was invalid
  QuickGraphLib/ImageView.cpp
Due: licence-present, qdebug-present

Export for Image and VectorImage
  QuickGraphLib/doc/export.qdoc
  QuickGraphLib/helpers/Helpers.cpp
  examples/LogGraph.qdoc
Due: licence-present, qdebug-present

Set text document palette as well
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present, qdebug-present

Support for Image and VectorImage fillMode/alignment
  QuickGraphLib/doc/export.qdoc
  QuickGraphLib/helpers/Helpers.cpp
  tests/extra_examples/500px-Kittyply_edit1.jpg
  tests/extra_examples/ImageExport.qml
  tests/extra_examples/SVG_Logo.svg
  tests/extra_examples/VectorImageExport.qml
  tests/reference_images/Contours.dat
  tests/reference_images/Contours.svg
  tests/reference_images/ImageExport.dat
  tests/reference_images/ImageExport.png
  tests/reference_images/ImageExport.svg
  tests/reference_images/ImageExport_grab.png
  tests/reference_images/LogGraph.dat
  tests/reference_images/LogGraph.svg
  tests/reference_images/VectorImageExport.dat
  tests/reference_images/VectorImageExport.png
  tests/reference_images/VectorImageExport.svg
  tests/reference_images/VectorImageExport_grab.png
  tests/test_exports.py
Due: licence-present, qdebug-present, ruff, qmlformat, mypy

Fix for PYSIDE-3267
  .github/workflows/build.yml
  QuickGraphLib/doc/export.qdoc
  ci/fixup_qt.py
  pyproject.toml
  tests/test_exports.py
Due: licence-present, ruff, mypy

Handle QDir search paths
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present, qdebug-present

Make Bar type for bar chart
  QuickGraphLib/GraphItems/Bar.qml
  QuickGraphLib/GraphItems/CMakeLists.txt
  examples/BarChart.qml
Due: licence-present, gersemi, qmlformat

Add horiztonal bar type
  QuickGraphLib/GraphItems/BarHorizontal.qml
  QuickGraphLib/GraphItems/BarVertical.qml
Due: licence-present, qmlformat

Update examples
  examples/BarChartHorizontal.qml
Due: licence-present, qmlformat

Update a few more places with horzi/vert distinction
  QuickGraphLib/GraphItems/BarHorizontal.qml
  QuickGraphLib/GraphItems/BarVertical.qml
  QuickGraphLib/GraphItems/CMakeLists.txt
Due: licence-present, gersemi, qmlformat

Add qdoc files and rename example
  examples/BarChartHorizontal.qdoc
  examples/BarChartVertical.qdoc
  examples/BarChartVertical.qml
Due: licence-present, qmlformat

Run format and fix a bunch of things
  QuickGraphLib/GraphItems/BarHorizontal.qml
  QuickGraphLib/GraphItems/BarVertical.qml
  examples/BarChartHorizontal.qml
  examples/BarChartHorizontalpng.png
  examples/BarChartVertical.png
  examples/BarChartVertical.qml
Due: licence-present, qmlformat

Rename pimage
  examples/BarChartHorizontal.png
Due: none

Remove decimal places
  examples/BarChartHorizontal.qml
  examples/BarChartVertical.qml
Due: licence-present, qmlformat

Support exporting PathRectangle
  QuickGraphLib/helpers/Helpers.cpp
Due: licence-present, qdebug-present

Upgrade cibuildwheel
  .github/workflows/build.yml
Due: none

Disable audit as we rely on some PySide6 symbols that start with Py
  pyproject.toml
Due: none

Update images
  examples/BarChartHorizontal.png
  examples/BarChartVertical.png
Due: none

Update deps with vulns
  requirements.txt
Due: none

feat(GraphItems): add GraphHandle and LineSegment components
  .gitignore
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/GraphHandle.qml
  QuickGraphLib/GraphItems/LineSegment.qml
  QuickGraphLib/GraphItems/LineSegmentEditor.qml
  examples/LineSegment.png
  examples/LineSegment.qdoc
  examples/LineSegment.qml
  tests/reference_images/LineSegment.dat
  tests/reference_images/LineSegment.png
  tests/reference_images/LineSegment.svg
  tests/reference_images/LineSegment_grab.png
Due: licence-present, gersemi, qmlformat

feat(GraphItems): add Rectangle and RectangleRoi components
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/Rectangle.qml
  QuickGraphLib/GraphItems/RectangleRoi.qml
  examples/Rectangle.png
  examples/Rectangle.qdoc
  examples/Rectangle.qml
  tests/reference_images/Rectangle.dat
  tests/reference_images/Rectangle.png
  tests/reference_images/Rectangle.svg
  tests/reference_images/Rectangle_grab.png
Due: licence-present, gersemi, qmlformat

refactor(GraphItems): rename LineSegmentEditor and extract RoiHandle
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/LineSegmentRoi.qml
  QuickGraphLib/GraphItems/RectangleRoi.qml
  QuickGraphLib/GraphItems/RoiHandle.qml
  QuickGraphLib/GraphItems/RoiHandleRepeater.qml
  examples/LineSegment.png
  examples/LineSegment.qdoc
  examples/LineSegment.qml
  examples/Rectangle.png
  examples/Rectangle.qdoc
  examples/Rectangle.qml
  tests/reference_images/LineSegment.dat
  tests/reference_images/LineSegment.png
  tests/reference_images/LineSegment.svg
  tests/reference_images/LineSegment_grab.png
  tests/reference_images/Rectangle.dat
  tests/reference_images/Rectangle.png
  tests/reference_images/Rectangle.svg
  tests/reference_images/Rectangle_grab.png
Due: licence-present, gersemi, qmlformat

feat(graph-items): add Ellipse and EllipseRoi components
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/Ellipse.qml
  QuickGraphLib/GraphItems/EllipseRoi.qml
  examples/Ellipse.png
  examples/Ellipse.qdoc
  examples/Ellipse.qml
  tests/reference_images/Ellipse.dat
  tests/reference_images/Ellipse.png
  tests/reference_images/Ellipse.svg
  tests/reference_images/Ellipse_grab.png
Due: licence-present, gersemi, qmlformat

feat: add Polyline and PolylineRoi items and decouple handle hit size
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/GraphHandle.qml
  QuickGraphLib/GraphItems/Polyline.qml
  QuickGraphLib/GraphItems/PolylineRoi.qml
  QuickGraphLib/GraphItems/RoiHandle.qml
  QuickGraphLib/GraphItems/RoiHandleRepeater.qml
  examples/Polyline.png
  examples/Polyline.qdoc
  examples/Polyline.qml
  tests/reference_images/Polyline.dat
  tests/reference_images/Polyline.png
  tests/reference_images/Polyline.svg
  tests/reference_images/Polyline_grab.png
Due: licence-present, gersemi, qmlformat

Change colours and fix overlap
  examples/BarChartHorizontal.qml
  examples/BarChartVertical.qml
Due: licence-present, qmlformat

Generate reference files for tests
  tests/reference_images/BarChartHorizontal.dat
  tests/reference_images/BarChartHorizontal.png
  tests/reference_images/BarChartHorizontal.svg
  tests/reference_images/BarChartHorizontal_grab.png
  tests/reference_images/BarChartVertical.dat
  tests/reference_images/BarChartVertical.png
  tests/reference_images/BarChartVertical.svg
  tests/reference_images/BarChartVertical_grab.png
Due: none

Add build/ to .gitignore
  .gitignore
Due: none

feat(graph-items): add Polygon and PolygonRoi QML types
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/Polygon.qml
  QuickGraphLib/GraphItems/PolygonRoi.qml
  examples/Polygon.png
  examples/Polygon.qdoc
  examples/Polygon.qml
  tests/reference_images/Polygon.dat
  tests/reference_images/Polygon.png
  tests/reference_images/Polygon.svg
  tests/reference_images/Polygon_grab.png
Due: licence-present, gersemi, qmlformat

style(examples): use black strokes and transparent fills
  examples/Ellipse.png
  examples/Ellipse.qml
  examples/LineSegment.png
  examples/LineSegment.qml
  examples/Polygon.png
  examples/Polygon.qml
  examples/Polyline.png
  examples/Polyline.qml
  examples/Rectangle.png
  examples/Rectangle.qml
  tests/reference_images/Ellipse.dat
  tests/reference_images/Ellipse.svg
  tests/reference_images/Ellipse_grab.png
  tests/reference_images/LineSegment.dat
  tests/reference_images/LineSegment.png
  tests/reference_images/LineSegment.svg
  tests/reference_images/LineSegment_grab.png
  tests/reference_images/Polygon.dat
  tests/reference_images/Polygon.png
  tests/reference_images/Polygon.svg
  tests/reference_images/Polygon_grab.png
  tests/reference_images/Polyline.dat
  tests/reference_images/Polyline.png
  tests/reference_images/Polyline.svg
  tests/reference_images/Polyline_grab.png
  tests/reference_images/Rectangle.dat
  tests/reference_images/Rectangle.png
  tests/reference_images/Rectangle.svg
  tests/reference_images/Rectangle_grab.png
Due: licence-present, qmlformat

feat: implement precise geometric hit testing for ROI bodies
  QuickGraphLib/GraphItems/CMakeLists.txt
  QuickGraphLib/GraphItems/EllipseRoi.qml
  QuickGraphLib/GraphItems/LineSegmentRoi.qml
  QuickGraphLib/GraphItems/PolygonRoi.qml
  QuickGraphLib/GraphItems/PolylineRoi.qml
  QuickGraphLib/GraphItems/RoiHitTest.js
  tests/test_roi_hit_tests.py
Due: licence-present, ruff, gersemi, qmlformat, mypy

Path conditions:
  licence-present: any of: ((\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$
  qdebug-present: any of: (\.(cpp|hpp))$
  ruff: any of: \.py$
  gersemi: any of: CMakeLists.txt
  qmlformat: any of: \.qml$
  mypy: any of: \.py$
