Repository refeyn/QuickGraphLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: licence-present, qdebug-present, ruff, gersemi, qmlformat, mypy

licence-present:
  name: licence-present
  entry: SPDX-License-Identifier
  language: pygrep
  args:
  - --negate

qdebug-present:
  name: qdebug-present
  entry: qDebug
  language: pygrep

ruff:
  name: ruff
  entry: venv/Scripts/ruff.exe format
  language: system

gersemi:
  name: gersemi
  entry: venv/Scripts/gersemi.exe -i
  language: system

qmlformat:
  name: qmlformat
  entry: venv/Scripts/pyside6-qmlformat.exe -i -n
  language: system

mypy:
  name: mypy
  entry: venv/Scripts/mypy.exe
  language: system
  require_serial: true

feat: add minimum size properties and clamped resizing for ROI components
  QuickGraphLib/GraphItems/EllipseRoi.qml
  QuickGraphLib/GraphItems/RectangleRoi.qml
  tests/test_roi_hit_tests.py
Due: licence-present, ruff, qmlformat, mypy

feat: add specific cursor shapes for ROI handles
  QuickGraphLib/GraphItems/EllipseRoi.qml
  QuickGraphLib/GraphItems/GraphHandle.qml
  QuickGraphLib/GraphItems/LineSegmentRoi.qml
  QuickGraphLib/GraphItems/PolygonRoi.qml
  QuickGraphLib/GraphItems/PolylineRoi.qml
  QuickGraphLib/GraphItems/RectangleRoi.qml
  QuickGraphLib/GraphItems/RoiHandle.qml
  QuickGraphLib/GraphItems/RoiHandleRepeater.qml
  examples/Ellipse.png
  examples/Ellipse.qml
  examples/LineSegment.png
  examples/LineSegment.qml
  examples/Polygon.png
  examples/Polygon.qml
  examples/Polyline.png
  examples/Polyline.qml
  examples/Rectangle.png
  examples/Rectangle.qml
  tests/reference_images/Ellipse.dat
  tests/reference_images/Ellipse.png
  tests/reference_images/Ellipse.svg
  tests/reference_images/Ellipse_grab.png
  tests/reference_images/LineSegment.dat
  tests/reference_images/LineSegment.png
  tests/reference_images/LineSegment.svg
  tests/reference_images/LineSegment_grab.png
  tests/reference_images/Polygon.dat
  tests/reference_images/Polygon.png
  tests/reference_images/Polygon.svg
  tests/reference_images/Polygon_grab.png
  tests/reference_images/Polyline.dat
  tests/reference_images/Polyline.png
  tests/reference_images/Polyline.svg
  tests/reference_images/Polyline_grab.png
  tests/reference_images/Rectangle.dat
  tests/reference_images/Rectangle.png
  tests/reference_images/Rectangle.svg
  tests/reference_images/Rectangle_grab.png
  tests/test_roi_hit_tests.py
Due: licence-present, ruff, qmlformat, mypy

docs(examples): align ROI example descriptions
  examples/Ellipse.qdoc
  examples/LineSegment.qdoc
  examples/LineSegment.qml
  examples/Polygon.qdoc
  examples/Polyline.qdoc
  examples/Rectangle.qdoc
Due: licence-present, qmlformat

Add root identifiers
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
Due: licence-present, qmlformat

Run qmlformat
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
  examples/BoxPlots.qml
Due: licence-present, qmlformat

Add root identifiers
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
Due: licence-present, qmlformat

Add example
  examples/BoxPlots.qdoc
  examples/BoxPlots.qml
Due: licence-present, qmlformat

Remove axis labels
  examples/BoxPlots.qml
Due: licence-present, qmlformat

Add horizontal box plot type
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
Due: licence-present, qmlformat

Various fixes
  QuickGraphLib/CMakeLists.txt
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
  QuickGraphLib/GraphItems/CMakeLists.txt
  examples/BoxPlots.png
  examples/BoxPlots.qml
Due: licence-present, gersemi, qmlformat

Add vertical box plot type
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
Due: licence-present, qmlformat

Add to CMakeLists
  QuickGraphLib/CMakeLists.txt
Due: licence-present, gersemi

Update image
  examples/BoxPlots.png
Due: none

Make property names more meaningful
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
  examples/BoxPlots.qml
Due: licence-present, qmlformat

Run qmlformat
  QuickGraphLib/GraphItems/BoxPlotHorizontal.qml
  QuickGraphLib/GraphItems/BoxPlotVertical.qml
Due: licence-present, qmlformat

Update reference files
  tests/reference_images/BoxPlots.dat
  tests/reference_images/BoxPlots.png
  tests/reference_images/BoxPlots.svg
  tests/reference_images/BoxPlots_grab.png
Due: none

style: run qmlformat on ROI QML files
  QuickGraphLib/GraphItems/Ellipse.qml
  QuickGraphLib/GraphItems/EllipseRoi.qml
  QuickGraphLib/GraphItems/GraphHandle.qml
  QuickGraphLib/GraphItems/LineSegmentRoi.qml
  QuickGraphLib/GraphItems/Polygon.qml
  QuickGraphLib/GraphItems/PolygonRoi.qml
  QuickGraphLib/GraphItems/PolylineRoi.qml
  QuickGraphLib/GraphItems/Rectangle.qml
  QuickGraphLib/GraphItems/RectangleRoi.qml
  QuickGraphLib/GraphItems/RoiHandle.qml
  QuickGraphLib/GraphItems/RoiHandleRepeater.qml
  examples/Ellipse.qml
  examples/LineSegment.qml
  examples/Polygon.qml
  examples/Polyline.qml
  examples/Rectangle.qml
Due: licence-present, qmlformat

Add ImageView::invertColormap
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
Due: licence-present, qdebug-present

Support ellipse export
  QuickGraphLib/helpers/Helpers.cpp
  tests/qml/ExportFromPythonTest.qml
  tests/qml/ExportFromQMLTest.qml
  tests/reference_images/Ellipse.dat
  tests/reference_images/Ellipse.png
  tests/reference_images/Ellipse.svg
  tests/test_exports.py
Due: licence-present, qdebug-present, ruff, qmlformat, mypy

Fix inverted colormap interpolation
  QuickGraphLib/ImageView.cpp
  examples/ColorMappedImages.png
  examples/ColorMappedImages.qml
  tests/reference_images/ColorMappedImages.dat
  tests/reference_images/ColorMappedImages.png
  tests/reference_images/ColorMappedImages.svg
  tests/reference_images/ColorMappedImages_grab.png
Due: licence-present, qdebug-present, qmlformat

Add clang-format to pre-commit
  .pre-commit-config.yaml
  QuickGraphLib/DataTypes.hpp
  QuickGraphLib/GraphItems/helpers/GridHelper.cpp
  QuickGraphLib/GraphItems/helpers/GridHelper.hpp
  QuickGraphLib/GraphItems/helpers/HistogramHelper.hpp
  QuickGraphLib/ImageView.cpp
  QuickGraphLib/ImageView.hpp
  QuickGraphLib/Plugin.cpp
  QuickGraphLib/bindings/ShibokenHelpers.cpp
  QuickGraphLib/bindings/ShibokenHelpers.hpp
  QuickGraphLib/helpers/AxisHelper.cpp
  QuickGraphLib/helpers/AxisHelper.hpp
  QuickGraphLib/helpers/Helpers.cpp
  QuickGraphLib/helpers/Helpers.hpp
  requirements.txt
Due: licence-present, qdebug-present

Path conditions:
  licence-present: any of: ((\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$
  qdebug-present: any of: (\.(cpp|hpp))$
  ruff: any of: \.py$
  gersemi: any of: CMakeLists.txt
  qmlformat: any of: \.qml$
  mypy: any of: \.py$
